body {
	width: 1024px;
	margin: 0 auto;
    background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
}

button {
	border-radius: 20px;
	border: 1px solid orange;
	background-color: orange;
	color: #FFFFFF;
	font-size: 17px;
	font-weight: bold;
	padding: 15px 55px;
}

button:hover {
    opacity: 0.8;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 20px 200px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
    border-color: orange;
	padding: 15px 15px;
	margin: 8px 0;
	width: 100%;
}

h5:first-child {
	color: gray;
}


h2 {
    color: #333;
	font-size: 26px;
	text-decoration: none;
	margin: 15px 0;
}

label {
    color: #333;
	font-size: 18px;
	text-decoration: none;
	margin: 15px 0;
    font-weight: bold;
}

#serverantwortlogin , #serverantwortregis {
    color: red;
	font-size: 20px;
	text-decoration: none;
	margin: 15px 0;

}

#farbeorange  {
    margin: 50px auto;
    width: 1024px;

    background-color: orange;
    text-align: center;
}

#nutzername , #passwort{
    font-size: 15px;
    font-weight: bold;
}

#weiterleitung {

    border-radius: 20px;
	border: 1px solid orange;
	background-color: gray;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 10px 30px;

}

div h3 {
	font-size: 26px;
	color: gray;
}

span > h5 {
	color: gray;
}

@media (max-width: 1024px) {

	body {
		width: 100%;
		margin: 0 auto;
		display: flex;
		justify-content:left;
		align-items: center;
		flex-direction: column;
		font-family: 'Montserrat', sans-serif;
	}

	button {
		border-radius: 5px;
		font-size: 14px;
		padding: 15px 40px;
	}

	form {
		padding: 20px 100px;
		height: 100%;
		text-align: center;
	}

	input {
		padding: 15px 15px;
	}

	h2 {
		font-size: 24px;
		margin: 12px 0;
	}

	label {
		font-size: 18px;
		margin: 10px 0;
	}

	#serverantwortlogin , #serverantwortregis {

		font-size: 14px;
		margin: 15px 0;
	
	}

	#farbeorange  {
		margin: 50px auto;
		width: 100%;
	}
    

}

@media (max-width: 600px) {

	button {
		border-radius: 5px;
		font-size: 12px;
		padding: 15px 30px;
	}

	input {
		padding: 10px 8px;
	}

	h2 {
		font-size: 20px;
		margin: 10px 0;
	}

	label {
		font-size: 16px;
		margin: 8px 0;
	}

	#serverantwortlogin , #serverantwortregis {

		font-size: 12px;
		margin: 15px 0;
	
	}

	#farbeorange  {
		width: 100%;
	}
    
}