body {
    width: 1024px;
    margin: 0 auto;
    font-family: sans-serif;
    background-image: url("bilder/hintergrund.png"); 
}

h2 {
    color: #111; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 30px; font-weight: 300; line-height: 32px; 
    margin: 0 0 72px; 
    text-align: center;
    text-decoration: underline;
}


.bilder {
    width: 500px;
}

.buttontrikot {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 450px 0 0 0;
}

#buttonstartseite {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    opacity: 0.7;
}

#buttonstartseite:hover {
    opacity: 0.7;
}

.seiteninhalt {
    text-align: center;
}

.auswahl {
    text-align: left;
    margin: 5px;
    width: 250px
}