body{
    width: 1024px;
    margin: 0 auto;
    font-family: sans-serif;
    background-image: url("hintergrund.png"); 
}
.flexbox{
    background: lightgray;
}

.flexelement{
    background: orange;
    color: white;
    text-align: center;
    width: 33%;
    margin: 0 0 1% 0;
    margin: 10px;
    padding: 15px 0 15px 0;
}

.flexbox{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    position: sticky;
    top: 0;
    
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

.socialmedia{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
}

.innersocialmedia{
    text-align: center;
}

.fa-twitter{
    background: #55ACEE;
    color: white;
}

.fa-instagram{
    background: #125688;
    color: white;
}

.fa{
    padding: 20px;
    font-size: 30px;
    width: 25px;
    text-align: center;
    text-decoration: none;
}

.seiteninhalt{
    text-align: center;
}

h1{
    text-decoration: underline;
}

div h3{
    color: #125688;
}

.behälter{
    background: lightgray;
    width: 80%;
    margin: auto;
    
}

ul{
    list-style: none;
}

li>a{
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

#seitenverlinkung{
    float: right;
}

table{
    border: 2px solid rgb(190, 190, 190);
    border-collapse: collapse;
    letter-spacing: 1px;
    font-size: 20px;
    margin: 0 auto;
}

tbody *{
    background: lightblue;
}

td, th{
    border: 1px solid rgb(180, 180, 180);
    padding: 5px 10px;
}

img[src="bild-kontakt.jpg"]{
    width: 100%;
    height: 700px;
}

img[src="bild-steckbrief.jpg"]{
    width: 100%;
    height: 700px;
}

img[src="bild-portfolio.jpg"]{
    width: 100%;
    height: 700px;
}

iframe[src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5342.722825654068!2d8.607956728434639!3d47.968071500286314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47909b93738f068f%3A0xbd3a7cd334806b96!2sUnterbaldingen%2C%2078073%20Bad%20D%C3%BCrrheim!5e0!3m2!1sde!2sde!4v1617986684599!5m2!1sde!2sde"]{
    width: 80%;
    height: 450px;
}

img[src="portrait.jpeg"]{
    width: 60%;
}

img[src="collage.jpeg"]{
    width: 60%;
}

img[src="vorstellung-av-produktion.png"]{
    width: 60%;
}

img[src="plakat-second-life.png"]{
    width: 80%;
}

#seitenverlinkung-zurueck{
    float: left;
}

.impressum{
    background: lightblue;
    width: 80%;
    margin: auto;
}

div ~ p{
    color: blue;
    text-decoration: underline;
}

.fa:hover{
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

input[type=text],textarea {
    width: 91%;
    padding: 12px;  
    border: 1px solid;
    border-radius: 4px;
    margin-bottom: 16px;

}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.element{
    width: 10rem;
    height: 5rem;
    background-color: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    transition: all 250ms ease;
    margin: 0 auto;
    position: relative;
}

h3{
    animation-duration: 2s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}

.animation{
    animation: textwelle 3s;
}

@keyframes textwelle {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }  
    70% {
      transform: scale(1.25);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;	
    }
}

@media (max-width: 1024px){
    body{
        width: 100%;
    }

    img[src="bild-portfolio.jpg"]{
        height: auto;

    }

    img[src="bild-steckbrief.jpg"]{
        height: auto;

    }

    img[src="bild-kontakt.jpg"]{
        height: auto;

    }

    table{
        font-size: 15px;
    }

    img[src="portrait.jpeg"]{
        width: 80%;

    }

    audio[src="vogel.wav"]{
        width: 80%;
    }

    img[src="collage.jpeg"]{
        width: 80%;

    }

    img[src="vorstellung-av-produktion.png"]{
        width: 80%;

    }

    img[src="plakat-second-life.png"]{
        width: 80%;

    }

    #seitenverlinkung-zurueck{
        font-size: 15px;
    }

    #seitenverlinkung{
        font-size: 15px;
    }

    div ~ p{
        font-size: 15px;
    }
}

@media (max-width: 600px){
    table{
        font-size: 10px;
    }

    #seitenverlinkung-zurueck{
        font-size: 10px;
    }

    #seitenverlinkung{
        font-size: 10px;
    }

    iframe[src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5342.722825654068!2d8.607956728434639!3d47.968071500286314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47909b93738f068f%3A0xbd3a7cd334806b96!2sUnterbaldingen%2C%2078073%20Bad%20D%C3%BCrrheim!5e0!3m2!1sde!2sde!4v1617986684599!5m2!1sde!2sde"]{
        height: auto;
        width: 80%;
    }

    input[type=text],textarea {
        width: 80%;
    }

    div ~ p{
        font-size: 10px;
    }

}


