body, html {
    margin: 0 auto;
    text-align: center;
    overflow-x: hidden;
    font-family: "Calibri", "Helvetica Neue", Helvetica, sans-serif;
}

.navigation {
    border-bottom: 1px solid black;
    display: flex;
    padding: 1%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    background-color: white;
    
}

#erstens {
    flex-grow: 0.85;
    font-weight: bold;
    font-size: medium;
    padding: 0.5%;
    margin-left: -25%;
}

#zweitens {
    display: flex;
    justify-content: center;
    padding: 0.5%;
}

#drittens {
    display: flex;
    justify-content: center;
	border-radius: 20px;
	border: 1px solid #2929F9;
	background-color: #2929F9;
	color: #FFFFFF;
	font-size: medium;
	font-weight: bold;
    padding: 0.5% 1%;

}

#ueberschriftmilkaklassiker {
    font-weight: bold;
    font-size: xxx-large;
}

#unterueberschrift {
    font-size: x-large;
    line-height: 50%;
}

#bildschokolade {
     margin-top: -2%;
}

.parani {
    color: white;
    font-size: 300%;

    
}

#dasmachtmilkaausdiv {
    background-color: #000088;
    padding: 20%;
}

.kaufbutton {
	border-radius: 20px;
	border: 1px solid #2929F9;
	background-color: #2929F9;
	color: #FFFFFF;
	font-size: 17px;
	font-weight: bold;
	padding: 10px 35px;

}

.ueberschrift {
    margin-top: 5%;
    margin-right: 25% ;
}

#bildergroeße {
    transform: rotate(-90deg);
    padding: 12%;

}

#milkaklein {
    margin-top: -10% ;
    margin-right: 12.4%;
    
}

#textunterschriftklein {
    float: center;
    margin-top: -18%;
    margin-right: -30%;
    font-size: x-large;
    font-weight: bold;
     
}

#textunterschriftgroß {
    float: center;
    margin-top: -13%;
    margin-right: 30%;
    font-size: x-large;
    font-weight: bold;

}

#vierteseite {
    margin-top: 30%;
}

#milkaaufrecht {
    margin-bottom: -4%;
    margin-right: 15%;
}

#milkaaufrechttext {
    margin-top: -25%;
    margin-right: -33%;
    font-size: xx-large;
    font-weight: bold;
    line-height: 90%;

}

#milkakuh {
    margin-top: 8%;
    margin-right: -32%;
}

#milkakuhtext {
    margin-top: -25%;
    margin-right: 18%;
    line-height: 50%;
    font-size: larger;
}

#alpenkuh {
    margin-top: 6%;
    margin-right: 22%;
}

#alpenkuhtextueberschrift {
    margin-top: -17%;
    margin-right: -32%;
}

#alpenkuhtext {
    margin-right: -32%;
    margin-top: 2%;
    line-height: 50%;
    font-size: larger;
}

#kakaobohne {
    margin-top: 6%;
    margin-right: -33%;
}

#kakaobohnetextueberschrift {
    margin-right: 25%;
    margin-top: -15%;
}

#kakaobohnetext {
    margin-right: 25%;
    margin-top: 2%;
    line-height: 50%;
    font-size: larger;
}

#fuenfteseiteueberschrift {
    padding: 8%;
}

#auswahlmoeglichkeiten {
    display: flex;
    justify-content: space-around;
    margin-top: -2%;
}

#milkanoisette {
    transform: rotate(-90deg);
}

#milkaerdbeer {

    transform: rotate(-90deg);
}

#milkahaselnuess {
    transform: rotate(-90deg);    
}

#beschreibungprodukte {
    padding: 2%;
    display: flex;
    justify-content: space-around;
    font-size: larger;


}

.kaufbuttonklein {
    border-radius: 20px;
    border: 1px solid #2929F9;
    background-color: #2929F9;
    color: #FFFFFF;
    font-size: medium;
    font-weight: bold;
    padding: 3% 5%;
}

.weitereinfos {
    color: blue;
}

@media (max-width: 1600px) {

    #textunterschriftklein {
        margin-right: -40%;
        margin-top: -18%;
        font-size: larger;
   }

   #textunterschriftgroß {
       margin-right: 40%;
       margin-top: -15%;
       font-size: larger;
   }

   img[src="Bilder/milka.jpg"] {
    width: 45%;
   }

   #milkaaufrechttext {

    font-size: larger;

   }




}


@media (max-width: 1024px) {

    body {

        width: 100%;
    }

    .navigation { 
        padding: 2%;
        margin-bottom: 10%;
    }
    #erstens {
        font-size: 18px;
        flex-grow: 0.9;   
    }

    #zweitens {
        font-size: 15px;
        margin-right: 2%;
    }

    #drittens {
        font-size: 15px;
        padding: 0.5% 1.5%;
    }

    #ueberschriftmilkaklassiker {
        font-weight: bold;
        font-size: xx-large;
    }

    .kaufbutton {
        margin-top: 5%;

    }

    img[src="Bilder/1199913540-Milka-Alpenmilch-Schokolade--100g-Tafel_1.jpg"] {
        width: 80%;
        margin-bottom: 12%;
   }

   .parani {
        font-size: xxx-large;
   }

   #dritteseite {
    margin-top: 15%;
} 
   
   #textunterschriftklein {
        margin-right: -60%;
        margin-top: -25%;
        font-size: 18px;
   }

   #textunterschriftgroß {
        margin-top: -25%;
        margin-right: 60%;
        font-size: 18px;
   }

   #milkaklein {
    margin-top: -10% ;
    margin-right: 12%;
    }

    img[src="Bilder/milka.jpg"] {
        width: 65%;
    }

    #vierteseite {
        margin-top: 55%;
    }

    #milkaaufrechttext {
        margin-top: -25%;
        margin-bottom: 10%;
        margin-right: -40%;
        font-size: large ;
    }

    #milkaaufrecht {
        margin-bottom: -35%;
        margin-right: 35%;
    }

    img[src="Bilder/Bild_11.png"] {
        width: 50%;
    }

    img[src="Bilder/Milkakuh.jpg"] {
        width: 38%;
        margin-right: -5%;

    }

    #milkakuhtext {
        font-size: large;
        margin-top: -70%;
        margin-left: -10%;
        line-height: 30%;
    }

    img[src="Bilder/alpenkuh.webp"] {
        width: 60%;
        margin-right: 28%;

    }

    #alpenkuhtextueberschrift {
        font-size: 16px;
        margin-top: -42%;
        margin-left: 60%;
    }

    .positionieren {
        text-align: left;
        margin: 0 auto;
        width: 30em;

    }

    #alpenkuhtext {
        margin-left: 60%;
        margin-top: -1%;
        line-height: 30%;
        font-size: large;
    }

    img[src="Bilder/Bild_10.png"] {
        margin-right: -5%;
        margin-top: -2%;
        width: 35%;

    }

    #kakaobohnetextueberschrift {
        font-size: 16px;
        margin-top: -51%;
        margin-left: -21%;

    }

    #kakaobohnetext {
        margin-left: -21%;
        margin-top: -1%;
        line-height: 30%;
        font-size: large;
    }














}

@media (max-width: 600px) {

}









