body{
    font-family: sans-serif;
    margin: 0 auto;
    width:800px;
    padding-bottom:5px;    
}
#portfolio-seite{
    font-size: 32px;
    font-weight: bold;
    margin: 16px;
}
#navigation{
    overflow: hidden;
    background-color: lightgray;
}
#navigation a{
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

#portfolio-navigation{
    background-color: yellow;
}

#navigation a:hover:not(#portfolio-navigation){
background-color: #777;
color: white;
}

#portfolio-navigation:hover:not(#portfolio-navigationn){
background-color: #777;
color: white;   

}


